 	body {
    background-image: url("picture/01.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-position: center;
  
	}

	nav {
		height: 50px;
		background-color: gray;
		position: fixed;
		width: 100%;
		opacity: .5;
	}

	.one {
		height: 100%;
		
	}
	.two {
		height: 100%;
		background-image: url("picture/00.jpg");
		background-repeat: no-repeat;
    	background-position: right top;
    	background-attachment: fixed;
    	background-position: center;
	}
	.three {
		height: 100%;
		background-image: url("picture/02.jpg");
		background-repeat: no-repeat;
    	background-position: right top;
    	background-attachment: fixed;
    	background-position: center;
	}
	.four {
		height: 100%;
		background-image: url("picture/03.jpg");
		background-repeat: no-repeat;
    	background-position: right top;
    	background-attachment: fixed;
    	background-position: center;
	}
	.five {
		height: 100%;
		background-image: url("picture/04.jpg");
		background-repeat: no-repeat;
    	background-position: right top;
    	background-attachment: fixed;
    	background-position: center;
	}
	.six {
		height: 100%;
		background-image: url("picture/05.jpg");
		background-repeat: no-repeat;
    	background-position: right top;
    	background-attachment: fixed;
    	background-position: center;
	}

